<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giggit!</title>

    <link rel="stylesheet" href="/assets/css/userSearch.css">

</head>

{{!-- <style>

    #content {
        margin-top: 4%;
    }

    .entireUser {
        border: 5px ridge rgb(183, 228, 236);
        width: 600px;
        background-color: white;
        margin: 15px;
        padding: 25px;
    }

    .businessName, .userInfo {
        color: rgb(9, 17, 39);
        font-size: 30px;
        font-weight: bold;
        font-family: "Gruppo", cursive;
        padding: 10px 15px 15px 15px;
        margin-bottom: 10px;
        background: rgb(183, 228, 236);
        border: 2px 2px white;
        text-shadow: 2px 2px white;
    }


    .jobTitle {
        color: rgb(103, 103, 182);
        font-size: 25px;
        font-family: "Gruppo", cursive;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .desc {
        color: rgb(7, 23, 29);
        font-size: 18px;
        font-family: "Gruppo", cursive;
        font-weight: bold;
        padding: 15px;
        width: 550px;
        background: rgb(224, 245, 247);
    }
</style> --}}

<body>
    
    <center>
        <div id='content'></div>
    </center>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type='text/javascript'>

        console.log("This page displays the results when a user searches for businesses by category. Will show all businesses in the category selected, and if a business is clicked it will redirect the user to that business' page via 'user-business.handlebars'");



        //route to show categories in drop down search menu
        $.ajax({
            url: '/businesscategory',
            method: 'GET'
        }).then(function (data) {
            var count = 0;

            //ALL BUSINESSES
            var $entireuserdiv;
            var $businessname;
            var $category;
            var $description;

            for (var i = 0; i < data.length; i++) {
                console.log(data[i].category_name);

                //info to display all the businesses
                console.log(data[i].business_name);

                $entireuserdiv = $("<div>");
                $businessname = $("<a>");
                $category = $("<div>");
                $description = $("<div>");

                $entireuserdiv.attr('class', 'entireUser');
                $businessname.attr('href', '/user-business');

                $businessname.attr('class', 'businessName');
                $businessname.text(data[i].business_name);

                $category.attr('class', 'jobTitle');
                $category.text(data[i].category_name);

                $description.attr('class', 'desc');
                $description.text(data[i].business_bio);

                // $email.attr('class', 'contactInfo');
                // $email.text(data[i].email);

                $entireuserdiv.append($businessname, "<br>", $category, "<br>", $description);

                $("#content").append($entireuserdiv);
            }


        })



    </script>
</body>

</html>