    #content {
        margin-top: 4%;
    }

    .entireUser {
        border: 1px ridge rgb(183, 228, 236);
        border: 2px ridge white;
        width: 500px;
        background-color: white;
        margin: 10px;
    }

    .businessName, .userInfo {
        color: rgb(9, 17, 39);
        font-size: 30px;
        font-weight: bold;
        font-family: "Gruppo", cursive;
        padding: 5px;
        margin: 2px;
        background: rgb(183, 228, 236);
        width: 480px;
        border: 2px 2px white;
        text-shadow: 2px 2px white;
    }


    .jobTitle {
        color: rgb(103, 103, 182);
        font-size: 20px;
        font-family: "Gruppo", cursive;
        /* padding: 5px;
        margin-top: 5px; */
        height: 20px;
        width: 480px;
        background: white;
    }

    .desc {
        color: rgb(7, 23, 29);
        font-size: 18px;
        font-family: "Gruppo", cursive;
        font-weight: bold;
        padding: 5px;
        width: 480px;
        background: rgb(224, 245, 247);
    }