* {
    font-family: 'gruppo', cursive;
}

#submitnewReview {
    background: url('https://i.imgur.com/Dr6ePcy.jpg') no-repeat;
    background-size: cover;
    color: rgb(49, 136, 165);
    width: 50%;
    height: 340px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    border: 3px ridge rgb(60, 127, 150);
}

#formtitle {
    background: rgb(60, 127, 150);
    width: 100%;
    height: 15%;
    border-bottom: 3px ridge white;
    color: white;
    text-shadow: 2px 2px rgb(5, 34, 44);
    font-size: 25px;
    padding-top: 10px;
}

#userrating {
    border: 3px ridge white;
    height: 10%;
    width: 8%;
    background: rgb(243, 243, 250);
}

#userrating:hover {
    background: rgb(142, 189, 202);
    color: black;
    text-shadow: lightblue;
}

.rlabels {
    background: none;
    color: rgb(3, 31, 41);
    text-shadow: 1px 1px white;
    font-size: 20px;
}

#userreview {
    width: 80%;
    height: 40%;
    padding-bottom: 10px;
    border: 3px ridge white;
    font-size: 18px;
}

#starsRating {
    height: 8%;
    background: none;
    padding: -4px;
}

#ursubmit {
        height: 30px;
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(6, 35, 43);
        background: rgb(207, 233, 241);
        text-shadow: 1px 1px rgb(193, 226, 235);
        padding-top: 4px;
        padding-bottom: 4px;
        border: 3px ridge white;
        font-weight: bold;
}

#ursubmit:hover {
    background: rgb(142, 189, 202);
}